@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
*{
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
}
html{
    scroll-behavior: smooth; /*comando para deixar o scroll suave*/
}
body{
    width: 100%;
    background-color:#f7f7f7;
}
.navcima{
    width: 100%;
    height: 75px;
    background-color: #1B2B42;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: right;
}
/* DUVIDA: como fazer com que o espaço da navcima fique ocupado?
quando eu clico em algo, ele come o espaço da coisa. */
.navcima #img{
    width: 30vw;
    height: auto;
    margin-left: 20px;
    display: flex;
    justify-content:  space-around;
}
.navcima .menua{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5%;
}
.navcima .menu{
    width: 62px;
    height: 36px;
}
.navcima ul{
    display: none;
}
#seta{
    display: none;
}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #1B2B42;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.35s; /* 0.5 second transition effect to slide in the sidenav */
    box-shadow: -1px 0px 10px rgba(0, 0, 0, 0.356); /*colocar sombras*/
  }
  .sidenav img{
    height: 16px;
    width: 16px;
  }
  .final{
      height: auto;
  }
  .sidenav .insta{
    margin-left: -20px;
  }
  .sidenav .fotos{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: auto;
    margin-top: -1vh;
  }
  .sidenav .github {
      margin: 0 5px 0 -3.5px;
  }
  .sidenav a {
    width: auto;
    height: auto;
    padding: 0.7vh 0 3px 1.5vw;
    text-decoration: none;
    font-size: 20pt;
    display: block;
    transition: 0.2s;
    font-family: 'Alata', sans-serif;
    color: #E7E9E4;
    text-align: center;
    margin-right: 1vw;
  }
  .sidenav .copy{
      margin-top: 15px;
      text-align: right !important;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 7px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .sidenav .traco {
    width: 100%;
    border-top: 1px solid rgba(235, 235, 235, 0.418);
    margin-top: 15px;
    box-shadow: 0px -6px 3px rgba(0, 0, 0, 0.021); /*colocar sombras*/
  }
  .sidenav .copy{
      font-size: 18px;
  }
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
.header{
    width: 100%;
    height: 500px;
    background-color: #E7E9E4;
    background-image: url("/img/back.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /*deixa a imagem fixa, efeito paralax*/
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all .6s ease-in-out;
}
.header h1{
    width: auto;
    height: auto;
    text-align: center;
    font-family: 'Alata', sans-serif;
    color: #E7E9E4;
    font-size: 5vw;
    padding: 14px;
    margin-bottom: 10px;
}
.header h2{
    width: 60vw;
    height: auto;
    text-align: center;
    font-family: 'Alata', sans-serif;
    color: #E7E9E4;
    font-size: 2vw;
    margin-bottom: 15px;
}
.header a{
    width: 60px;
    height: 25px;
    font-family: 'Alata', sans-serif;
    color: #E7E9E4;
    text-decoration: none;
    border: solid 1px #E7E9E4;
    border-radius: 20px;
}
.header a:hover{
    background-color: #E7E9E4;
    color: #1B2B42;
}
#metas{
    width: 100%;
    height: auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
}
#metas img{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#metas h4{
    font-family: 'Alata', sans-serif;
    color: #2E3337;
    font-size: 20pt;
    text-align: center;
}
#metas p{
    font-family: 'Alata', sans-serif;
    color: #2E3337;
    font-size: 12pt;
    text-align: justify;
}
#metas div{
    width: 60%;
    height: auto;
}
#meta1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px 0 25px 0;
}
#meta2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 25px 0;
}
#meta3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 25px 0;
}
#meta4{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 25px 0;
}
#meta5{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    padding: 0 0 25px 0;
}
.texto1 {
    width: 100%;
    height: auto;
    display: flex;   /*tentei usar o display: block;, mas as coisas nao ficavam centralizadas*/
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: white; /*#1B2B42*/
}
.parteesquerda {
    width: 70%;
    height: auto;
    padding: 20px;   
}
.parteesquerda h1 {
    font-family: 'Alata', sans-serif;
    color: #1B2B42; /*#E7E9E4*/
    font-size: 20pt;
    text-align: center;
}
.parteesquerda p {
    font-family: 'Alata', sans-serif;
    font-size: 12pt;
    text-align: justify;
    color: #1B2B42;
    margin-top: 1.5vh;
}
.partedireita {
    width: 70%;
    height: auto;
    margin: 15px 0 25px 0;
}
.partedireita img{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    border-radius: 3px;
}
 .texto2{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #f7f7f7; /*#53C7A4; */
    /* box-shadow: 1px 1px 10px black; */
}
.parteesquerda2 {
    width: 70%;
    height: auto;
    margin: 25px 0 15px 0;
}
.parteesquerda2 img {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    border-radius: 3px;
}
.partedireita2{
    width: 70%;
    height: auto;
    margin: 15px 0 25px 0; 
}
.partedireita2 h1 {
    font-family: 'Alata', sans-serif;
    color: #1B2B42;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
}
.partedireita2 p {
    font-family: 'Alata', sans-serif;
    font-size: 12pt;
    text-align: justify;
    color: #1B2B42;
    margin-top: 1.5vh;
}
/* DUVIDA: por que o texto fica por cima da imagem? é por causa que a imagem da esquerda não se adapta e não quebra a linha */
.texto3 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color:white;
}
.parteesquerda3 {
    width: 70%;
    height: auto;
    margin: 15px 0 25px 0;
}
.parteesquerda3 h1 {
    font-family: 'Alata', sans-serif;
    color: #1B2B42;
    font-size: 20pt;
    text-align: center;
}
.parteesquerda3 p {
    font-family: 'Alata', sans-serif;
    font-size: 12pt;
    text-align: justify;
    color: #1B2B42;
    margin-top: 1.5vh;
}
.partedireita3 {
    display: flex;
    width: 70%;
    height: auto;
    float: right;
    margin: 15px 0 25px 0;
}
.partedireita3 iframe{
    width: 100%; /* precisa ser 100% para ser dinamico */
    height: 400px;
    display: flex;
    align-items: center;
    margin: 30px 0 30px 0;
    border-radius: 3px;
}
.texto4{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #f7f7f7;
}
.parteesquerda4{
    width: 70%;
    height: auto;
    margin: 25px 0 15px 0;
}
.parteesquerda4 iframe{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    border-radius: 3px;
}
.partedireita4 {
    width: 70%;
    height: auto;
    margin: 15px 0 25px 0;
}
.partedireita4 h1{
    font-family: 'Alata', sans-serif;
    color: #1B2B42;
    font-size: 20pt;
    text-align: center;
}
.partedireita4 p{
    font-family: 'Alata', sans-serif;
    font-size: 12pt;
    text-align: justify;
    color: #1B2B42;
    margin-top: 1.5vh;
}
.texto5 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: white; /*#1B2B42*/
}
.parteesquerda5 {
    width: 70%;
    height: auto;
    margin: 15px 0 25px 0;
}
.parteesquerda5 h1 {
    font-family: 'Alata', sans-serif;
    color: #1B2B42; /*#E7E9E4*/
    font-size: 18pt;
    text-align: center;
}
.parteesquerda5 p {
    font-family: 'Alata', sans-serif;
    font-size: 12pt;
    text-align: justify;
    color: #1B2B42;
    margin-top: 1.5vh;
}
.partedireita5 {
    display: flex;
    width: 70%;
    height: auto;
    float: right;
    margin: 15px 0 25px 0;
}
.partedireita5 img{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
.texto6 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #f7f7f7; /*#1B2B42*/
}
.partedireita6 {
    width: 70%;
    height: auto;
    margin: 15px 0 25px 0;
}
.partedireita6 h1 {
    font-family: 'Alata', sans-serif;
    color: #1B2B42; /*#E7E9E4*/
    font-size: 23pt;
    text-align: center;
}
.partedireita6 p {
    font-family: 'Alata', sans-serif;
    font-size: 12pt;
    text-align: justify;
    color: #1B2B42;
    margin-top: 1.5vh;
}
.parteesquerda6 {
    display: flex;
    width: 70%;
    height: auto;
    justify-content: center;
}
.parteesquerda6 img{
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 25px;
}
.texto7 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: white; /*#1B2B42*/
}
.parteesquerda7 {
    width: 70%;
    height: auto;
    margin-top: 15px;
}
.parteesquerda7 h1 {
    font-family: 'Alata', sans-serif;
    color: #1B2B42; /*#E7E9E4*/
    font-size: 18pt;
}
.parteesquerda7 p {
    font-family: 'Alata', sans-serif;
    font-size: 12pt;
    text-align: justify;
    color: #1B2B42;
    margin-top: 1.5vh;
}
.partedireita7 {
    margin-top: 15px;
    display: flex;
    width: 70%;
    height: auto;
    justify-content: center;
}
.partedireita7 img{
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    border-radius: 3px;
    margin: 20px 0 25px 0;
}

.saibamais{
    width: 100%;
    height: auto;
    display: block;
    background-color: #f7f7f7;
    font-family: 'Alata', sans-serif;
    color: #1B2B42;
}
.saibamais .videos{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 25px;
}
.saibamais iframe{
    width: 70%;
    height: 300px;
    padding: 15px 0 15px 0;
}
.saibamais h2{
    width: 100%;
    padding-bottom: 10px;
    font-size: 5vw;
    text-align: center;
    margin-top: 15px;
}
.saibamais a{
    width: 100%;
    font-family: 'Alata', sans-serif;
    font-size: 2vw;
    text-decoration: none;
    color: #1B2B42;
    margin-left: 15vw;
}
.bibliografia{
    width: 100vw;
    height: auto;
    background-color: white;
    font-family: 'Alata', sans-serif;
    font-size: 12pt;
    color: #1B2B42;
}
.bibliografia h2{
    width: 100%;
    padding-bottom: 10px;
    font-size: 23pt;
    text-align: center;
    padding-top: 15px;
}
.bibliografia p{
    width: 70%;
    font-family: 'Alata', sans-serif;
    font-size: 1.5vw;
    text-align: left;
    margin-left: 5vw;
}
.rodape{
    width: 100%;
    height: 10vh;
    background-color: #1B2B42;
    padding: 0 0 15px 0;
    /* box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.425); */
}
.rodape p{
    width: auto;
    height: auto;
    color: #E7E9E4;
    text-align: left;
    display: flex;
    align-items: center;
    font-family: 'Alata', sans-serif;
    font-size: 12pt;
    padding-left: 50px;
    padding-top: 2vh;
}
.rodape a{
    width: auto;
    height: auto;
    color: #E7E9E4;
    text-align: left;
    display: flex;
    align-items: center;
    font-family: 'Alata', sans-serif;
    font-size: 12pt;
    padding-left: 50px;
    padding-top: 5px;
    text-decoration: none;
}
#titlee{
    display: flex;
    align-items: center;
    color: #E7E9E4;
    font-family: 'Alata', sans-serif;
    font-size: 20pt;
    float: right;
    margin-right: 10vw;
}